<mat-grid-list [cols]="12" rowHeight="4rem">

  <!--=================================================Navigation====================================================-->
  <mat-grid-tile [colspan]="12" [rowspan]="0.5">
    <mat-card class="breadCrumbCard">
      <mat-card-content [innerHTML]="breadCrumbs"></mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--===============================================================================================================-->

  <!--============================================City Form Section==============================================-->
  @if (enableForm) {
    <mat-grid-tile [colspan]="8" [rowspan]="10" style="margin-top: 15px;">
      <mat-card>
        <mat-card-header class="form-header">
          <mat-card-title class="title">City Form</mat-card-title>
          <div class="form-button-group">
            <button class="goto-records-btn" mat-raised-button (click)="setView('records')"
                    [disabled]="!(enableGoToRecode)">Records
              <mat-icon>list</mat-icon>
            </button>
            <button class="goto-profiles-btn" mat-raised-button (click)="setView('profiles')"
                    [disabled]="!(enableGoToView)">View
              <mat-icon>person</mat-icon>
            </button>
          </div>
        </mat-card-header>

        <mat-card-content class="employee-form">

          <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>

            <mat-step [stepControl]="cityForm">
              <form [formGroup]="cityForm" (ngSubmit)="onSubmitCityDetails(stepper)">
                <ng-template matStepLabel>City Details</ng-template>
                <br>

                <mat-form-field appearance="outline">
                  <mat-label>Select a User</mat-label>
                  <input type="text"
                         matInput
                         formControlName="user"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayUserName">
                    @for (user of filteredUserList | async; track user.id) {
                      <mat-option [value]="user">{{user.employee.callingname}}</mat-option>
                    }
                  </mat-autocomplete>
                  <mat-icon matIconSuffix>verified_user</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name">
                  <mat-icon matIconSuffix>reorder</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>Code</mat-label>
                  <input matInput formControlName="code">
                  <mat-icon matIconSuffix>confirmation_number</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Province</mat-label>
                  <mat-select formControlName="province" (valueChange)="filterDistrictByProvince($event)">
                    <mat-option [value]="null">Not Selected</mat-option>
                    @for (province of provinces; track province.id) {
                      <mat-option [value]="province">{{ province.name }}</mat-option>
                    }
                  </mat-select>
                  <mat-icon matIconSuffix>reorder</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>District</mat-label>
                  <mat-select formControlName="district" (valueChange)="generateCityCode($event)">
                    <mat-option [value]="null">Not Selected</mat-option>
                    @for (district of filteredDistricts; track district.id) {
                      <mat-option [value]="district">{{ district.name }}</mat-option>
                    }
                  </mat-select>
                  <mat-icon matIconSuffix>reorder</mat-icon>
                </mat-form-field>

                <div class="stepper-next-button-container">
                  <button class="stepper-next-button" mat-icon-button type="submit"
                          [ngClass]="{'blink-button' : blinkButton}">
                    <mat-icon>navigate_next</mat-icon>
                  </button>
                </div>

              </form>
            </mat-step>

            <mat-step [stepControl]="airportForm">
              <form [formGroup]="airportForm">
                <ng-template matStepLabel>Airport Details</ng-template>
                <br>
                <div class="inline-form">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matIconSuffix>reorder</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code">
                    <mat-icon matIconSuffix>confirmation_number</mat-icon>
                  </mat-form-field>
                </div>


                <div class="add-new-btn-container">
                  <button mat-raised-button class="add-new-btn" (click)="addNewAirport()" type="button">
                    <mat-icon>add</mat-icon>
                    {{ !isEnableInnerDataModify ? 'Add' : 'Modify' }}
                  </button>
                  <button mat-raised-button class="close-btn" type="button"
                          (click)="clearAirport()">
                    <mat-icon>clear</mat-icon>
                    Clear
                  </button>
                </div>
              </form>
              <form [formGroup]="cityForm">
                <av-data-table
                  (onModify)="modifyAirport($event)"
                  [TableHeaders]="airPortTableHeaders"
                  [TableColumns]="airPortTableColumns"
                  [EnableActionColumn]="true"
                  [EnableButtonDelete]="true"
                  [EnableButtonModify]="true"
                  [Data]="storeAirports"
                  formControlName="airports"
                >
                </av-data-table>

                <div class="stepper-button-container">
                  <div class="stepper-back-button-container">
                    <button class="stepper-back-button" mat-icon-button type="button"
                            (click)="stepper.previous(); setIconView(true, false, false)">
                      <mat-icon>navigate_before</mat-icon>
                    </button>
                  </div>
                  <div class="stepper-next-button-container">
                    <button class="stepper-next-button" mat-icon-button type="button"
                            (click)="stepper.next(); setIconView(false, false, true)"
                            [ngClass]="{'blink-button' : blinkButton}">
                      <mat-icon>navigate_next</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="portForm">
              <form [formGroup]="portForm" (ngSubmit)="onSubmitFinal(stepper)">
                <ng-template matStepLabel>Ports</ng-template>
                <br>
                <div class="inline-form">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matIconSuffix>reorder</mat-icon>
                  </mat-form-field>


                  <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code">
                    <mat-icon matIconSuffix>confirmation_number</mat-icon>
                  </mat-form-field>
                </div>


                <div class="add-new-btn-container">
                  <button mat-raised-button class="add-new-btn" (click)="addNewPort()">
                    <mat-icon>add</mat-icon>
                    {{ !isEnableInnerDataModify ? 'Add' : 'Modify' }}
                  </button>
                  <button mat-raised-button class="close-btn"
                          (click)="clearPort()">
                    <mat-icon>clear</mat-icon>
                    Clear
                  </button>
                </div>
              </form>
              <form [formGroup]="cityForm">
                <av-data-table
                  (onModify)="modifyPort($event)"
                  [TableHeaders]="portTableHeaders"
                  [TableColumns]="portTableColumns"
                  [EnableActionColumn]="true"
                  [EnableButtonDelete]="true"
                  [EnableButtonModify]="true"
                  [Data]="storePorts"
                  formControlName="ports"
                >
                </av-data-table>

                <div class="stepper-button-container">
                  <div class="stepper-back-button-container">
                    <button class="stepper-back-button" mat-icon-button type="button"
                            (click)="stepper.previous(); setIconView(false, true, false)">
                      <mat-icon>navigate_before</mat-icon>
                    </button>
                  </div>
                  <div class="stepper-reset-button-container">
                    <button class="stepper-reset-button" mat-icon-button type="reset"
                            (click)="resetStepper(); setIconView(true, false, false)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
          </mat-stepper>

          <form [formGroup]="cityForm">
            <div class="control-button-panel">
              <button class="control-add-btn" mat-raised-button (click)="save()"
                      [disabled]="!(enableAdd && hasInsertAuthority)">Add
              </button>
              <button class="control-clear-btn" mat-raised-button (click)="clear()">Clear</button>
              <button class="control-update-btn" mat-raised-button (click)="update()"
                      [disabled]="!(enableUpdate && hasUpdateAuthority && !disableSelfModify)">Update
              </button>
<!--              <button class="control-delete-btn" mat-raised-button (click)="delete()"-->
<!--                      [disabled]="!(enableDelete && hasDeleteAuthority && !disableSelfModify)">Delete-->
<!--              </button>-->
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="10" style="margin-top: 15px">
      <mat-card class="employee-profile-picture">
        <mat-card-header>
          <mat-card-title class="title">
            {{ isCityInfor ? 'City Icon' : isAirportInfor ? 'Airport Icon' : portForm ? 'Port Icon' : 'Icon' }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (isCityInfor) {
            <form [formGroup]="cityForm">
              <av-file-picker [defaultImage]="defaultCityImageURL" formControlName="photo"
                               [showPdfDetails]="pdfDtls"></av-file-picker>
            </form>
          }
          @if (isAirportInfor) {
            <form [formGroup]="airportForm">
              <av-file-picker [defaultImage]="defaultAirportImageURL" formControlName="photo"
                               [showPdfDetails]="pdfDtls"></av-file-picker>
            </form>
          }
          @if (isPortInfor) {
            <form [formGroup]="portForm">
              <av-file-picker [defaultImage]="defaultPortImageURL" formControlName="photo"
                               [showPdfDetails]="pdfDtls"></av-file-picker>
            </form>
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  }
  <!--===============================================================================================================-->

  <!--===========================================City Details/Profiles===========================================-->
  @if (enableDetailView) {
    <mat-grid-tile [colspan]="12" [rowspan]="1" class="searchTile">
      <mat-card class="searchView">
        <mat-card-content class="search-view-container">
          <div class="details-search-container">
            <span class="title">City Details</span>
            <mat-form-field appearance="outline">
              <mat-label>Search Cities</mat-label>
              <input matInput (keyup)="filterTable($event)" #input>
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>

            <div class="detail-button-group">
              <button mat-raised-button class="goto-form-btn" (click)="setView('form')"
                      [disabled]="!(enableAdd && hasInsertAuthority)">New
                <mat-icon>add</mat-icon>
              </button>
              <button mat-raised-button class="goto-records-btn" (click)="setView('records')"
                      [disabled]="!(enableGoToRecode)">Records
                <mat-icon>list</mat-icon>
              </button>
              <button mat-raised-button class="tbl-selection-edit-btn"
                      [disabled]="!(enableEdit && hasUpdateAuthority)"
                      (click)="loadCityModifyView(selectedRow); clearTableSelection()">Edit
                <mat-icon matPrefix>edit</mat-icon>
              </button>
              <button mat-raised-button class="tbl-selection-clear-btn" (click)="clearTableSelection()">Clear
                <mat-icon matPrefix>clear</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="5" [rowspan]="10" style="margin-top: 20px">
      <mat-card>
        <mat-card-content>
          <mat-table [dataSource]="data">
            @for (column of columnsDetails; track columnsDetails; let i = $index) {
              <ng-container [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef> {{ headersDetails[i] }}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  @if (column === 'photo') {
                    <span class="employee-image"><img [src]="generateCityIcon(element['photo'])" alt="emp"></span>
                  } @else {
                    {{ element[column] }}
                  }
                </mat-cell>
              </ng-container>
            }

            <mat-header-row *matHeaderRowDef="columnsDetails"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsDetails;" (click)="loadCityDetailView(row); selectedRow(row)"
                     [ngClass]="{'selected-row': row === selectedRow}"></mat-row>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
            </tr>
          </mat-table>
          <mat-paginator class="profile-table-paginator" [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"
                         showFirstLastButtons></mat-paginator>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="7" [rowspan]="10" style="margin-top: 20px">
      <mat-card class="card-container">
        <mat-card-content>
          <div class="details-container">
            <app-detail-view
              [defaultImage]="defaultCityImageURL"
              [showDisplayColors]="true"
              [showDisplayMessage]="true"
              messageToDisplay="Select a row to display"
              [isEnablePrint]="true"
            ></app-detail-view>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  }
  <!--===============================================================================================================-->

  @if (enableRecordView) {
    <!--=======================================City Add / Preview / Search=========================================-->
    <mat-grid-tile [colspan]="12" [rowspan]="1" class="searchTile">
      <mat-card class="searchView">
        <mat-card-content class="search-view-container">
          <div class="search-container">
            <span class="title"><b>City Records</b></span>
            <div class="search-view-button-group">
              <button class="add-btn" mat-raised-button (click)="setView('form')"
                      [disabled]="!(enableAdd && hasInsertAuthority)">New
                <mat-icon>add</mat-icon>
              </button>
              <button class="employee-view-btn" mat-raised-button (click)="setView('profiles')"
                      [disabled]="!(enableGoToView)">View
                <mat-icon>person</mat-icon>
              </button>
            </div>
            <form [formGroup]="serverSearchForm" class="searchForm">
              @if (isSearchFiledInput) {
                <mat-form-field appearance="outline" class="search-input">
                  <mat-label>Search Here</mat-label>
                  <input matInput formControlName="searchInput">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              }

              @if (isSearchFiledSelect) {
                <mat-form-field appearance="outline" hidden="hidden" class="search-select">
                  <mat-label>Select search value</mat-label>
                  <mat-select formControlName="searchSelect">
                    <mat-option [value]="null">Not Selected</mat-option>
                    @for (searchSelectOption of searchSelectOptions; track searchSelectOptions) {
                      <mat-option
                        [value]="searchSelectOption.id">{{ searchSelectOption.name || searchSelectOption.employee.callingname }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }

              @if (isSearchFiledDate) {
                <mat-form-field appearance="outline">
                  <mat-label>Select date / range</mat-label>
                  <mat-date-range-input
                    [rangePicker]="searchDates">
                    <input matStartDate placeholder="Start date" formControlName="searchStartDate">
                    <input matEndDate placeholder="End date" formControlName="searchEndDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="searchDates"></mat-datepicker-toggle>
                  <mat-date-range-picker #searchDates></mat-date-range-picker>
                </mat-form-field>
              }

              <mat-form-field appearance="outline" class="filter-select">
                <mat-label>Filter by</mat-label>
                <mat-select formControlName="filterField"
                            (selectionChange)="resetServerSearchQueryParamFields() ; loadSearchSelectOptions()">
                  <mat-option [value]="null">Not Selected</mat-option>
                  @for (filterFiled of filterFields; track filterFields) {
                    <mat-option [value]="filterFiled">{{ filterFiled }}</mat-option>
                  }
                </mat-select>
                <mat-icon matSuffix>filter_alt</mat-icon>
              </mat-form-field>

              <div class="button-group">
                <button mat-raised-button class="search-btn" (click)="search()">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-raised-button class="clear-btn" (click)="clearSearch()">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--=============================================City View Table===============================================-->
    <mat-grid-tile [colspan]="12" [rowspan]="8" style="margin-top: 20px">
      <mat-card>
        <mat-card-content>
          <div class="table-header-section">
            <mat-form-field style="padding-top: 10px; width: 100%" appearance="outline" class="search-input">
              <mat-label>Filter Here</mat-label>
              <input matInput (keyup)="filterTable($event)" #input>
              <mat-icon matSuffix style="color: black !important;">filter_list</mat-icon>
            </mat-form-field>
            <div class="loading">
              <img [src]="imageURL" alt="loading-gif">
            </div>
          </div>

          <mat-table [dataSource]="data">

            @for (column of columns; track columns; let i = $index) {
              <ng-container [matColumnDef]="column">
                <!-- Header Cell -->
                <mat-header-cell *matHeaderCellDef> {{ headers[i] }}</mat-header-cell>
                <!-- Normal Data Cells -->
                <mat-cell *matCellDef="let element">

                  @if (column === 'photo') {
                    <span class="employee-image"><img [src]="generateCityIcon(element['photo'])" alt="city"></span>
                  } @else if (column === 'modify/view') {
                    <!-- Action Buttons -->
                    <div class="tbl-btn-container">
                      <button mat-icon-button class="modify-btn"
                              (click)="fillForm(element); loadCityModifyView(element)"
                              [disabled]="!(hasUpdateAuthority)">
                        <mat-icon>border_color</mat-icon>
                      </button>
                      <button mat-icon-button class="view-btn" (click)="loadCityDetailView(element)">
                        <mat-icon>remove_red_eye</mat-icon>
                      </button>
                    </div>
                  } @else {
                    {{ element[column]?.name || element[column] }}
                  }
                </mat-cell>
              </ng-container>
            }

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" (click)="selectRow(row)"
                     [ngClass]="{'selected-row': row === selectedRow}"></mat-row>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
            </tr>

          </mat-table>

          <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"
                         showFirstLastButtons></mat-paginator>

        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  }
  <!--===============================================================================================================-->

</mat-grid-list>
